.search-bar {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    min-width: 100%400px; 
    border-radius: 8px;
    border: 1px solid rgba(204, 204, 204, 0.508);
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  }
  
  .search-icon {
    width: 16px;
    height: 16px;
    background-image: url('../assets/imgs/lupa.svg'); 
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    background: transparent;
    flex-grow: 1;
    font-size: 14px;
    color: #333; 
  }
  