@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Inter', sans-serif;
}

.container {

    display: flex;
    justify-content: space-between;
    min-height: 100vh; 
}

.esquerda{
    background-color:#FFF;
    width: 20%;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.conteudo{
    width: 55%;
    padding: 48px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow-y: auto; 
}

.direita{
    background-color: #FFF;
    width: 20%;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}
